<h2>Eventos</h2>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="listFilter"
    > <!--ir em AppModule e importar formsModule-->
    <!--<button class="btn btn-outline-success">Buscar</button>--  Testar aplicar um filtro com clique apenas>
  </div>
</div>

<!--<h3>Filtro: {{listFilter}}</h3>-->

<table class="table table-striped" >
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="AlterImage()">
          {{showImg ? 'Exibir' : 'Ocultar'}} <!-- se showImg for verdadeiro, aparece mostrar, se falso, aparece ocultar-->
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td>
          <img [collapse] ="showImg"
              [isAnimated]="true"
            src="/assets/{{evento.imagemURL}}"
            [style.width.px] = "widthImg"
            [style.margin.px] = "marginImg"
            alt=""
          > <!--relacionando property bindings([exemplo]) em sytle-->
        </td>
        <td>{{evento.eventoId}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lote}}</td>
        <td>
          <button class="btn btn-primary btn-sm mr-2">Editar</button>
          <button class="btn btn-danger btn-sm">Excluir</button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos && !eventos.length">
      <tr>
          <td colspan="8" class="text-center">
            <h4>Nenhum evento encontrado!</h4>
          </td>
      </tr>
    </tfoot>
</table>


<!--
Diretivas estruturais:
ngFor
ngShow
ngIf

Interpolação:
Exemplo: {{eventos[0].imagemURL}}
{{1+1}}
-->
